#section1{
    background-color: royalblue;
    font-size: x-large;
    font-family: 'HappyTimesattheIKOBItalic';
}

#section2{
    background-color: royalblue;
    font-size: x-large;
    font-family: 'BebasNeueBold';
}

body{
    background-color: rgb(204, 61, 61);
}